extends layout

block content
  // main content
  if (message.length > 0)
    div.alert.alert-success= message
  div.row
    div.col-md-5
      div.panel.panel-primary
        div.panel-heading List of Classes
        div.panel-body(id='class-content')
          table.table
            tr 
              th ID
              th Class Name
              th Department
              th Description
              th Actions
            each classroom in classes
              tr 
                td= classroom.id
                td 
                  a.btn-class(href='#', data-class-id=classroom.id)= classroom.name
                td= classroom.department
                td= classroom.description
                td
                  div 
                    a(href='/class/' + classroom.id + '/edit') Edit
                  div
                    a.text-danger(data-toggle='modal', data-target='#modal') Delete
                    div.modal.fade(id='modal', tabindex='-1', role='dialog', aria-labelledby="modalLabel")
                      div.modal-dialog(role='document')
                        div.modal-content
                          div.modal-body
                            strong Are you sure ?
                          div.modal-footer
                            button.btn.btn-default(data-dismiss='modal') Cancel
                            a.btn.btn-danger(href='/class/' + classroom.id + '/delete') Delete      
    div.col-md-4(id='class-info')
  
  
